{% load static %}
<header class="header">
  <div class="container header__inner">
    <a class="logo" href="{% url 'home' %}">
      <div class="logo__img">
        <img alt="Логотип" src="{% static 'img/logo.svg' %}" />
      </div>
      <div class="logo__text">
        <p class="logo__brand">
          <span class="c-purple">Сти</span><span class="c-red">льНя</span><span class="c-yellow">шки</span>
        </p>
        <p class="logo__tagline">Second Hand for Kids</p>
      </div>
    </a>

    <nav class="nav" aria-label="Категории">
        <a href="{% url 'catalog' %}">Каталог</a>
        <a href="{% url 'how_to_order' %}">Заказ</a>
        <a href="{% url 'payments_info' %}">Оплата</a>
        <a href="{% url 'delivery_info' %}">Доставка</a>
    </nav>

    <div class="actions">
      <button id="menuOpenBtn"
              class="icon-btn actions__burger"
              aria-label="Открыть меню"
              aria-controls="mobileMenu"
              aria-expanded="false">
        <i class="fas fa-bars"></i>
      </button>

      <a class="icon-btn actions__hide-xs"
   href="{% url 'account_favorites' %}"
   aria-label="Избранное">
  <i class="far fa-heart"></i>
  {#<span class="cart__badge" data-badge="fav-count">{{ favorites_count|default:"0" }}</span> #}
</a>

      <a class="cart" href="{% url 'cart' %}" aria-label="Корзина">
  <i class="fas fa-shopping-bag"></i>
  <span class="cart__badge" data-badge="cart-qty">{{ cart_count|default:"0" }}</span>
</a>

      {% if user.is_authenticated %}
        <a class="login actions__hide-sm" href="{% url 'account' %}">
          <i class="far fa-user"></i>
          <span class="login__name">{{ user.first_name|default:user.username }}</span>
        </a>
      {% else %}
        <a class="login actions__hide-sm" href="{% url 'login' %}">
          <i class="far fa-user"></i>
          <span class="login__name">Вход</span>
        </a>
      {% endif %}
    </div>
  </div>
</header>